/* App.css */
.dashboard-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en una nueva línea si es necesario */
    gap: 20px; /* Espacio entre los elementos */
    padding: 10px;
    box-sizing: border-box;
  }
  
  .dashboard-grid > div {
    flex: 1 1 calc(50% - 20px); /* Ajusta el ancho base para una cuadrícula 2x2 */
    max-width: calc(50% - 20px); /* Asegura que el ancho máximo sea de la mitad menos el espacio del gap */
    min-width: 300px; /* Ancho mínimo para los componentes, para evitar que se reduzcan demasiado */
    box-sizing: border-box;
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 768px) {
    .dashboard-grid > div {
      flex: 1 1 100%; /* Hace que los componentes ocupen el 100% del ancho disponible en pantallas pequeñas */
      max-width: 100%; /* Ancho máximo del 100% en pantallas pequeñas */
    }
  }
  
 /* App.css */

.app-container {
    display: flex;
  }
  
